span.radio {
  display: block;
  margin-left: 1em;
  padding-bottom: 0.5em;
}

fieldset {
  width: 42em;
  margin-bottom: 2em;
}

.input {
  margin-bottom: 0.5em;
}

label.string, label.password {
  display: block;
}

input.string, input.password {
  width: 40em;
}

label.radio_buttons {
  display: block;
  padding-bottom: 1em;
}

input.radio_buttons {
  margin-right: 0.5em;
}

.error {
  color: red;
  font-size: 0.8em;
  display: block;
}
