$header: slateblue;
$footer: $header;
$headerText: white;
$footerText: $headerText;
$pagebackground: white;
$linkText: slateblue;
$textColor: black;

body {
  background-color: $pagebackground;
  color: $textColor;
  a {
    color: $linkText;
  }
}

header#page {
  height: 68px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px, 20px;
  background-color: $header;
  color: $headerText;

  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    position: absolute;
    top: 23px;

    a {
      color: $headerText;
    }
  }

  a {
    color: lightblue;
  }

  nav#utility {
    float: right;
    font-size: 0.8em;
    margin-right: 1em;
  }
}

.container {
  padding: 0 20px;
}

footer#page {
  background-color: $header;
  color: $footerText;

  ul {
    margin-left: -10px;
    padding: 0
  }

  li {
    display: inline;
    margin: 0;

    a{
      padding: 5px 10px; 
      color: $footerText;
      &:link, &:hover, &:visited, &.active {
        color: $footerText;
      }
    }
  }
}
